$font-family-base:
  Arvo,
  Helvetica;
$font-family-display: Kalam, Helvetica;

$color-base-dark: hsl(36, 50%, 6%);
$color-base-light: hsl(36, 100%, 97%);
$color-secondary: hsl(37, 34%, 87%);
$color-tertiary: rgb(137, 186, 105);
